@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0%;
    padding: 0%;
    text-decoration: white;
    background-color: black;
    list-style: none;
}

h1 {
    width: 20px;
    color: #fff;    
    margin-left:37% ;
    margin-top: 20px;
    text-align: center;
}

h3 {
    margin-top: 100px;
    color: #fff;
    margin-left: 20px;
    transition: .5s;
    text-decoration: underline;
}

h3:hover {
color: #d21617;
}

header{
    width: 70%;   
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #d21617 ;
}

#logo-header {
    width: 200px;
    display: block;
}

#logo-footer {
    width: 200px;
    display: block;
}

#banner {
    background-size: cover;
    background-image: url(https://pbs.twimg.com/media/FKow19xXwAEdSjY?format=jpg&name=large);
    background-position: 50% 50%;
    width: 100%;
    height: 500px;
}

.comentarios-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.comentario-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    text-overflow: initial;
}

.comentario {
    width: 100%;
    height: 230px;
    background-position: 30% 30%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-left: 0px;
    margin-top: 20px;
    background-color:#d21617;
    border-radius: 20px;
}

.comentario:hover {
    transform: scale(1.05);
}

footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;	
    margin-top: 90px;
 }

 span {
    color:#fff;
   font-family:'Kdam Thmor Pro', sans-serif;
    
 }

 #avaliacao {
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family:'Kdam Thmor Pro', sans-serif ;
    width: 90%;
  }

  .footer-navigation {
    display: none;
  }
  
  .footer-list {
     display: flex;
     flex-direction: column;
     align-items: center;
  }
 
  @media(max-width: 768px){
     .footer-navigation{
         display: block;
 }   
 
 nav {
     display: none;
    }
    
    .comentario-content {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    h1 {
        display: none;
    }

    #logo-header {
        margin-left: 37%;   }
}